* text=auto
gradlew text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.pem text eol=lf
*.png binary
*.jar binary
